input {
  margin-left: 16px;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.message {
  margin-top: 0;
  height: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.label {
  width: 100%;
  display: flex;
  justify-content: end;
  margin-bottom: 8px;
}

.button {
  margin-left: 16px;
}

